<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.galihmayangga.responsifintech">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResponsiFintech20222400">
        <activity android:name=".ui.HelpActivity"></activity>
        <activity android:name=".ui.PasswordActivity" />
        <activity android:name=".ui.CreditCardActivity" />
        <activity android:name=".ui.AccountBankActivity" />
        <activity android:name=".ui.ProfileActivity"
            android:parentActivityName=".ui.HomeActivity"/>
        <activity
            android:name=".ui.PaymentActivity"
            android:parentActivityName=".ui.HomeActivity" />
        <activity
            android:name=".ui.RecoveryActivity"
            android:parentActivityName=".ui.LoginActivity" />
        <activity
            android:name=".ui.RegisterActivity"
            android:parentActivityName=".ui.LoginActivity" />
        <activity android:name=".ui.HomeActivity" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>